.loading {
  margin: auto;
  text-align: center;
  padding: 10rem 2rem;
}

.loading-img {
  margin: auto;
  width: 6rem;
  height: 6rem;
  margin-bottom: 1rem;
  background-image: url("/assets/images/bloody-smile.jpg");
  background-size: cover;
  border-radius: 50%;
}