<div class="container"
  (scroll)="scrollHandler($event)">
  <div class="head">
    <img class="logo"
      src="assets/logo.png"
      alt="logo">
  </div>
  <div class="nav-spacer"
    [style.display]="fixedMenu ? 'block' : 'none'"></div>
  <nav [class.fixed]="fixedMenu">
    <ul #navList>
      <li *ngFor="let category of categories"
        [class.selected]="category.id == 'selected'"
        (click)="liClicked(category)">
        {{ category.name | titlecase }}
      </li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>