<ul [@listState]="layout.showArticle ? 'hide' : 'show'">
  <li *ngFor="let article of list"
    (click)="select(article)">
    <div class="cover-image"
      [ngStyle]="{ 'background-image': 'url(' + article.coverImg + ')'}">
      <p *ngIf="(articles.selectedCat$ | async)?.id == 'HomeCategoriesId'"
        [class]="'category cat-' + article.categoryId">
        {{ article.categoryName }}
      </p>
    </div>
    <div class="info">
      <p class="title">
        {{ article.title | trimText:titleMax }}
      </p>
      <p class="publish-at">
        {{ article.publishAt | publishAtParser }}
        <span *ngIf="article.video">🎬</span>
      </p>
      <p class="sapo">
        {{ article.sapo | trimText:sapoMax }}
      </p>
    </div>
  </li>
</ul>