<mat-card class="profile">
  <ng-container *ngIf="editProfile; else profileBlock">
    <profile-update [profile]="editProfile"
      (onSubmit)="user.updateProfile($event)"
      (onCancle)="editProfile = null"></profile-update>
  </ng-container>
  <ng-template #profileBlock>
    <mat-card-content>
      <div class="leagueImage">
        <img src="{{ user.profile.points | leagueImage }}"
          alt="League Image" />
      </div>
      <h3 class="name"
        i18n>Chào {{ partOfDay }},
        <strong>{{ user.profile.fullname}}</strong>.</h3>
      <div class="avatar"
        [ngStyle]="{ 'background-image': 'url(' + user.profile.avatar + ')'}"></div>
      <p class="leagueText"
        i18n>
        Hạng: {{ user.profile.points | leagueText | titlecase }}
      </p>
      <p class="progressBar"
        i18n>
        Bạn có {{ user.profile.points }} điểm
        <mat-progress-bar [value]="user.profile.points | leagueProcess">
        </mat-progress-bar>
      </p>
      <mat-card-subtitle class="greeting"
        *ngIf="user.profile.greeting">{{ user.profile.greeting }}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
        (click)="editProfile = user.profile">
        Sửa thông tin
      </button>
    </mat-card-actions>
  </ng-template>
</mat-card>

<mat-card *ngIf="user.isManager"
  class="manager">
  <ng-container *ngIf="editManager; else managerBlock">
    <profile-update [profile]="editManager"
      (onSubmit)="user.updateManager($event)"
      (onCancle)="editManager = null"></profile-update>
  </ng-container>
  <ng-template #managerBlock>
    <mat-card-content>
      <h3 class="name"
        i18n>Tài khoản quản lý:
        <strong>{{ user.managerProf.fullname }}</strong>
      </h3>
      <div class="avatar"
        [ngStyle]="{ 'background-image': 'url(' + user.managerProf.avatar + ')'}"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
        (click)="editManager = user.managerProf">
        Sửa thông tin
      </button>
    </mat-card-actions>
  </ng-template>
</mat-card>

<div class="center">
  <button mat-raised-button
    color="accent"
    (click)="signOut()">Đăng xuất</button>
</div>