<div *ngIf="meta$ | async as meta">
  <div class="article-container">
    <h1 class="article-title">
      {{ meta.title }}
    </h1>
    <p class="article-info">
      <span class="category">{{ meta.categoryName }}</span>&#124;
      <span class="publish-time">{{ meta.publishAt | date:'dd/MM/yy HH:mm' }}</span>
    </p>
    <p class="article-sapo">
      {{ meta.sapo }}
    </p>
    <hr>
    <div *ngIf="safeYoutube"
      class="youtube-container">
      <div [innerHtml]="safeYoutube"
        class="center youtube">
      </div>
    </div>
    <div *ngIf="body$ | async as body"
      class="article-body ql-editor"
      [class.article-style]="meta.style === 'article'"
      [class.picture-style]="meta.style === 'picture'"
      [innerHtml]="body.body">
    </div>
    <p class="article-source">
      Dẫn nguồn từ
      <span>{{ meta.reference | titlecase }}</span> &copy;
      <span>{{ meta.publisher | titlecase }}</span>
    </p>
  </div>
</div>