.fixed {
  position: fixed;
  top: 0;
  z-index: 1;
}
mat-toolbar a {
  text-decoration: none;
  color: white;
}

span {
  flex: 1 1 auto;
}

.app-name {
  font-family: Play, Courier, monospace;
  font-size: 2rem;
}

.menu-button {
  padding: 0 0.5rem;
}

.avatar {
  float: right;
  height: 2.3rem;
  width: 2.3rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}