mat-tab-group {
  width: 100%;
}

mat-radio-button {
  padding: 0 1rem;
}

mat-form-field {
  width: 90%;
}

.article-type-seclect {
  text-align: right;
  padding: 1rem 0;
}

.title {
  width: 100%;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.image-preview {
  height: 169px;
  width: 300;
  background-size: cover;
  background-position: center;
  background-position-y: 23%;
}

.video-preview {
  height: 169px;
  width: 100%;
}

.publish-at {
  p {
    font-size: 0.65rem;
    color: var(--text-faded-color);
    margin: 0;
  }
}