<div class="container">
  <p *ngIf="articles.error$ | async as error"
    class="center error">
    Lỗi hệ thống. Vui lòng báo admin nội dung sau: {{ error | json }}
  </p>
  <ng-container *ngIf="!(articles.loading$ | async); else loadingBlock">
    <article-form [creatorId]="user.authData.id"
      [profile]="user.profile"
      (onSubmit)="handleCreate($event)"></article-form>
  </ng-container>
</div>

<ng-template #loadingBlock>
  <mat-spinner color="accent"
    diameter="30"
    strokeWidth="2"></mat-spinner>
</ng-template>