<section class="thumbnail">
  <div [ngStyle]="{ 'background-image': 'url(' + article.coverImg + ')'}">
  </div>
</section>
<section class="title">
  <p>
    <strong>{{ article.title }}</strong>
  </p>
  <p>
    <em> // {{ article.categoryName }}</em>
    <span class="author"> &copy; {{ article.creatorName }}</span>
  </p>
</section>
<section class="info">
  <p>
    <publish-at-label [publishAt]="article.publishAt"></publish-at-label>
    <span *ngIf="article.status === 'published'"
      class="published">🔒 duyệt bởi {{ article.managerName }}</span>
    <span *ngIf="article.status === 'unpublished'"
      class="unpublished">🔒 gở bài bởi {{ article.managerName }}</span>
    <span *ngIf="article.status === 'pending'"
      class="pending">✓ chờ duyệt</span>
    <span *ngIf="article.status === 'draft'"
      class="draft">✍ đang soạn</span>
  </p>
  <p *ngIf="article.note"
    class="note">
    <strong>Ghi chú: </strong>
    <em>&quot;{{ article.note }}&quot;</em>
  </p>
</section>
<mat-divider></mat-divider>