// .list-item-content {
:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  justify-content: left;
  align-items: flex-start;
  grid-template:
    "thumbnail title"
    "thumbnail info"
    "thumbnail note";
  @media (max-width: 600px) {
    grid-template:
      "thumbnail title"
      "info info"
      "note note";
  }
}

p {
  margin: 0;
}

.thumbnail {
  grid-area: thumbnail;
  div {
    height: 4rem;
    width: 4rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.title {
  grid-area: title;
  padding: 0 0.5rem;
}

.info {
  grid-area: info;
  padding: 0.5rem;
}

.note {
  grid-area: note;
  color: #ff4081;
  margin-top: 0.5rem;
}

.button {
  justify-self: end;
}

.author {
  color: rgba(0, 0, 0, 0.49);
}

.published {
  color: green;
  font-weight: bold;
}

.unpublished {
  color: red;
  font-weight: bold;
}

.pending {
  color: white;
  background: black;
  padding: 0 0.5rem;
}

.draft {
  border: solid 1px;
  padding: 0 0.5rem;
}

