<ul>
  <li *ngFor="let article of list; let i = index">
    <div class="cover-image"
      [ngStyle]="{ 'background-image': 'url(' + article.coverImg + ')'}">
    </div>
    <div [class]="article.categoryId == 'RWTkmXHmJca6Zap12f87' ? 'category cat-1' : 'category cat-2'">
      {{ article.categoryName }}
    </div>
    <p class="title">
      {{ article.title }}
      <br/>
      <span class="publish-at">
        // {{ article.publishAt | publishAtParser }}
      </span>
      <span *ngIf="article.video">🎬</span>
    </p>
  </li>
</ul>