.table-container {
  width: var(--container-width);
}
table {
  width: 100%;
}
td.mat-cell {
  text-align: left;
}
.mat-select-trigger {
  margin: 0 0.5rem;
}
p {
  margin-bottom: 1rem;
  padding: 0;
}
span {
  display: block;
}
.mini-spinner {
  margin: auto;
  margin-bottom: 1rem;
}
.fab-button {
  position: fixed;
  top: 90vh;
  left: 80vw;
}
