<div class="container center">
  <mat-form-field>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let tag of (selectedTags$ | async)"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(tag)"
      >
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #tagInput
        placeholder="Tìm kiếm theo tags"
        [formControl]="tagInputControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="false"
        (matChipInputTokenEnd)="add($event)"
      />
      <mat-error *ngIf="tagInputControl.hasError('mustSelect')"
        >Vui lòng chọn tag</mat-error
      >
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option
        *ngFor="let tag of (filteredTags$ | async)"
        [value]="tag.text"
      >
        {{ tag.text }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div *ngIf="(resultArticles$ | async) as results">
    <article-list [list]="results"></article-list>
  </div>
</div>
