<div class="list-container">
  <form [formGroup]="form">
    <date-time-picker
      [dateNumber]="queryDate"
      (onChange)="setFromDate($event)"
    ></date-time-picker>
    <mat-form-field *ngIf="user.isManager">
      <mat-select placeholder="Người soạn" formControlName="creatorId">
        <mat-option value="ALLEDITOR">-- Tất cả --</mat-option>
        <mat-option
          *ngFor="let editor of (articles.editorList$ | async)"
          [value]="editor.id"
          >{{ editor.fullname }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Trạng thái" formControlName="status">
        <mat-option [value]="null">-- Bỏ chọn --</mat-option>
        <mat-option *ngFor="let status of statusMap" [value]="status.value">
          {{ status.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Phạm vi tìm" formControlName="range">
        <mat-option value="day">1 ngày</mat-option>
        <mat-option value="month">30 ngày</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <ng-container *ngIf="(articles.list$ | async) as list; else: emptyBlock">
    <article-list [list]="list"></article-list>
  </ng-container>

  <ng-template #emptyBlock>
    Không tìm thấy bài viết. Vui lòng thay đổi bộ lọc ở trên.
  </ng-template>

  <button
    mat-fab
    class="fab-button"
    matTooltip="Tạo bài mới"
    color="primary"
    (click)="handleFabClick()"
  >
    <mat-icon aria-label="icon-button with a pencil icon">edit</mat-icon>
  </button>
</div>
