<div class="preview">
  <div class="title-preview">
    <p class="title">{{ form.value.title }}</p>
    <hr />
  </div>
  <div class="subs-preview">
    <ng-container *ngFor="let sub$ of subArticles$">
      <p *ngIf="sub$ | async as sub"
        class="sub-item">
        {{ sub.title }}
      </p>
    </ng-container>
  </div>
  <div class="mains-preview">
    <ng-container *ngFor="let main$ of mainArticles$">
      <div *ngIf="main$ | async as main">
        <div class="preview-main-cover"
          [ngStyle]="{ 'background-image': 'url(' + main.coverImg + ')'}"></div>
        <p class="mains-title">{{ main.title | trimText: 100 }}</p>
      </div>
    </ng-container>
  </div>
</div>

<form [formGroup]="form"
  (ngSubmit)="submit()">
  <mat-card>
    <section class="title">
      <mat-form-field class="title-field">
        <input matInput
          class="input"
          formControlName="title"
          type="text"
          placeholder="Tên tiêu đề" />
      </mat-form-field>
    </section>
    <mat-card-content>
      <mat-form-field *ngFor="let control of controls; let i = index;">
        <input matInput
          class="input"
          type="text"
          [formControlName]="i"
          [placeholder]="'Bài ' + i" />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button
        [disabled]="form.pristine || !form.valid"
        color="primary"
        type="submit">
        Cập nhật
      </button>
    </mat-card-actions>
  </mat-card>
</form>