@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Play|Merriweather");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --primary-color: #ed1d24;
  --primary-color-tint: #ffdfe0;
  --secondary-color: #159cd8;
  --text-main-color: #000000;
  --text-secondary-color: #575757;
  --text-faded-color : #8a8a8a;
  --container-width: 996px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.container {
  margin: auto;
  padding-bottom: 7rem;
  max-width: var(--container-width);
}
