<div class="table-container">
  <table *ngIf="dataSource; else notFoundTemplate"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z1">

    <ng-container matColumnDef="project">
      <th mat-header-cell
        *matHeaderCellDef
        class="project-header">
        <span>Dự án</span>
        <mat-select [(value)]="filterValue"
          (selectionChange)="applyFilter()">
          <mat-option [value]="">-</mat-option>
          <mat-option *ngFor="let option of options.project"
            [value]="option">{{ option }}</mat-option>
        </mat-select>
      </th>
      <td mat-cell
        *matCellDef="let element"
        class="project-cell">
        <span>{{element.project}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="investor">
      <th mat-header-cell
        *matHeaderCellDef
        class="investor-header">
        <span>Chủ đầu tư</span>
        <mat-select [(value)]="filterValue"
          (selectionChange)="applyFilter()">
          <mat-option [value]="">-</mat-option>
          <mat-option *ngFor="let option of options.investor"
            [value]="option">{{ option }}</mat-option>
        </mat-select>
      </th>
      <td mat-cell
        *matCellDef="let element"> {{element.investor}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell
        *matHeaderCellDef
        class="location-header">
        <span>Vị trí</span>
        <mat-select [(value)]="filterValue"
          (selectionChange)="applyFilter()">
          <mat-option [value]="">-</mat-option>
          <mat-option *ngFor="let option of options.location"
            [value]="option">{{ option }}</mat-option>
        </mat-select>
      </th>
      <td mat-cell
        *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <ng-container matColumnDef="progress">
      <th mat-header-cell
        *matHeaderCellDef
        class="progress-header">
        <span>Tiến độ</span>
        <mat-select [(value)]="filterValue"
          (selectionChange)="applyFilter()">
          <mat-option [value]="">-</mat-option>
          <mat-option *ngFor="let option of options.progress"
            [value]="option">{{ option }}</mat-option>
        </mat-select>
      </th>
      <td mat-cell
        *matCellDef="let element"> {{element.progress}} </td>
    </ng-container>

    <ng-container matColumnDef="salePerks">
      <th mat-header-cell
        *matHeaderCellDef> CSBH </th>
      <td mat-cell
        *matCellDef="let element">
        <span *ngFor="let perk of element.salePerks | formatNewlineSplash">
          {{perk}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="avgPrice">
      <th mat-header-cell
        *matHeaderCellDef
        class="price-header"> Giá CĐT bán (tr) </th>
      <td mat-cell
        *matCellDef="let element"
        class="price-cell"> {{element.avgPrice | number}} </td>
    </ng-container>

    <ng-container matColumnDef="avgResalePrice">
      <th mat-header-cell
        *matHeaderCellDef
        class="price-header"> Giá KH bán (tr) </th>
      <td mat-cell
        *matCellDef="let element"
        class="price-cell"> {{element.avgResalePrice | number}} </td>
    </ng-container>

    <ng-container matColumnDef="contacts">
      <th mat-header-cell
        *matHeaderCellDef
        class="contacts-header"> Liên hệ </th>
      <td mat-cell
        *matCellDef="let element"
        class="price-cell">
        <span *ngFor="let contact of element.contacts | formatNewlineSplash">
          {{contact}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="facilities">
      <th mat-header-cell
        *matHeaderCellDef
        class="facilities-header"> Khác </th>
      <td mat-cell
        *matCellDef="let element"
        class="price-cell">
        <span *ngFor="let facility of element.facilities | formatNewlineSplash">
          {{facility}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="publishAt">
      <th mat-header-cell
        *matHeaderCellDef
        class="publish-at-header"> Đăng lúc </th>
      <td mat-cell
        *matCellDef="let element">{{ element.publishAt | date: "MM/yyyy" }}</td>
    </ng-container>

    <tr mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row
      *matRowDef="let element; columns: displayedColumns"
      class="element-row"
      (click)="selectField(element)"></tr>
  </table>
  <button mat-fab
    class="fab-button"
    (click)="selectField(null)">
    <mat-icon aria-label="icon-button with a plus icon">add</mat-icon>
  </button>
</div>

<ng-template #notFoundTemplate>
  <div class="center">
    <mat-progress-spinner class="mini-spinner"
      color="accent"
      mode="indeterminate"
      strokeWidth="2"
      diameter="25">
    </mat-progress-spinner>
    <p>Đang tải dữ liệu...</p>
    <button mat-raised-button
      (click)="fetchData()">Nhấn vào đây để tải lại</button>
  </div>
</ng-template>