.table-container {
  width: var(--container-width);
}
table {
  width: 100%;
}
th.mat-header-cell {
  text-align: center;
}
th.project-header {
  width: 9rem;
}
th.investor-header {
  width: 9rem;
}
th.location-header {
  width: 5.8rem;
}
th.progress-header {
  width: 7.7rem;
}
th.price-header {
  width: 3.3rem;
}
th.publish-at-header {
  width: auto;
}
td.mat-cell {
  text-align: left;
  padding: 0 0.5rem;
  border-right: solid 1px #dfdfdf;
}
td.project-cell {
  text-align: center;
}
td.price-cell {
  text-align: center;
}
td.publish-at-cell {
  border-right: none;
}
tr.detail-row {
  height: 0;
}
span {
  display: block;
}
p {
  margin-bottom: 1rem;
  padding: 0;
}
span {
  display: block;
}
.mini-spinner {
  margin: auto;
  margin-bottom: 1rem;
}
.fab-button {
  position: fixed;
  top: 90vh;
  left: 80vw;
}