<div class="table-container">
    <table *ngIf="dataSource; else notFoundTemplate"
      mat-table
      multiTemplateDataRows
      [dataSource]="dataSource"
      class="mat-elevation-z1">
  
      <ng-container matColumnDef="project">
        <th mat-header-cell
          *matHeaderCellDef
          class="project-header">
          <span>Dự án</span>
          <mat-select [(value)]="filterValue"
            (selectionChange)="applyFilter()">
            <mat-option [value]="">-</mat-option>
            <mat-option *ngFor="let option of options.project"
              [value]="option">{{ option }}</mat-option>
          </mat-select>
        </th>
        <td mat-cell
          *matCellDef="let element"
          class="project-cell">
          <span>{{element.project}}</span>
          <div [ngStyle]="{ 'background-image': 'url(' + element.image + ')'}"
            class="project-cell-img"></div>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="investor">
        <th mat-header-cell
          *matHeaderCellDef>
          <span>Chủ đầu tư</span>
          <mat-select [(value)]="filterValue"
            (selectionChange)="applyFilter()">
            <mat-option [value]="">-</mat-option>
            <mat-option *ngFor="let option of options.investor"
              [value]="option">{{ option }}</mat-option>
          </mat-select>
        </th>
        <td mat-cell
          *matCellDef="let element"> {{element.investor}} </td>
      </ng-container>
  
      <ng-container matColumnDef="location">
        <th mat-header-cell
          *matHeaderCellDef>
          <span>Vị trí</span>
          <mat-select [(value)]="filterValue"
            (selectionChange)="applyFilter()">
            <mat-option [value]="">-</mat-option>
            <mat-option *ngFor="let option of options.location"
              [value]="option">{{ option }}</mat-option>
          </mat-select>
        </th>
        <td mat-cell
          *matCellDef="let element"> {{element.location}} </td>
      </ng-container>
  
      <ng-container matColumnDef="progress">
        <th mat-header-cell
          *matHeaderCellDef> Tiến độ </th>
        <td mat-cell
          *matCellDef="let element"> {{element.progress}} </td>
      </ng-container>
  
      <ng-container matColumnDef="salePerks">
        <th mat-header-cell
          *matHeaderCellDef> CSBH </th>
        <td mat-cell
          *matCellDef="let element">
          <span *ngFor="let perk of element.salePerks | formatNewlineSplash">
            {{perk}}
          </span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="avgPrice">
        <th mat-header-cell
          *matHeaderCellDef
          class="price-header"> Giá bán CDT (tr) </th>
        <td mat-cell
          *matCellDef="let element"
          class="price-cell"> {{element.avgPrice | number}} </td>
      </ng-container>
  
      <ng-container matColumnDef="avgResalePrice">
        <th mat-header-cell
          *matHeaderCellDef
          class="price-header"> Giá bán TB (tr) </th>
        <td mat-cell
          *matCellDef="let element"
          class="price-cell"> {{element.avgResalePrice | number}} </td>
      </ng-container>
  
      <ng-container matColumnDef="contacts">
        <th mat-header-cell
          *matHeaderCellDef
          class="contacts-header"> Liên hệ </th>
        <td mat-cell
          *matCellDef="let element"
          class="price-cell">
          <span *ngFor="let contact of element.contacts | formatNewlineSplash">
            {{contact}}
          </span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="facilities">
        <th mat-header-cell
          *matHeaderCellDef
          class="facilities-header"> Khác </th>
        <td mat-cell
          *matCellDef="let element"
          class="price-cell">
          <span *ngFor="let facility of element.facilities | formatNewlineSplash">
            {{facility}}
          </span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="publishAt">
        <th mat-header-cell
          *matHeaderCellDef> Đăng lúc </th>
        <td mat-cell
          *matCellDef="let element"
          class="publish-at-cell"> {{element.publishAt | date: "MM/yyyy"}} </td>
      </ng-container>
  
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length">
          <div class="element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="element-image"
              [ngStyle]="{ 'background-image': 'url(' + element.image + ')'}"></div>
            <div class="element-scale">
              <p>
                <span class="element__bold">Quy mô:</span>
                <span *ngFor="let info of element.scale | formatNewlineSplash">
                  {{ info }}
                </span>
              </p>
            </div>
            <div class="element-facilities">
              <p>
                <span class="element__bold">Hạ tầng xã hội và Tiện ích:</span>
                <span *ngFor="let info of element.facilities | formatNewlineSplash">
                  {{ info }}
                </span>
              </p>
            </div>
            <div class="element-sale-perks">
              <p>
                <span class="element__bold">Chính sách bán hàng:</span>
                <span *ngFor="let info of element.salePerks | formatNewlineSplash">
                  {{ info }}
                </span>
              </p>
            </div>
            <div class="element-contacts">
              <p>
                <span class="element__bold">Liên hệ:</span>
                <span *ngFor="let info of element.contacts | formatNewlineSplash">
                  {{ info }}
                </span>
              </p>
            </div>
            <div class="element-link">
              <a>
                <button mat-raised-button
                  color="primary">Xem thêm</button>
              </a>
            </div>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="selectField(element)"></tr>
      <tr mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"></tr>
  
    </table>
  </div>
  
  <ng-template #notFoundTemplate>
    <p>Không tìm thấy dữ liệu cho tháng bạn đang chọn. Vui lòng chọn tháng khác.</p>
  </ng-template>