.header {
  h1 {
    margin: 1rem auto; 
    font-family: var(--title-font);
    text-align: center;
  }
  @media (max-width: 825px) {
    h1 {
      text-align: left;
      padding-left: 1rem;
    }
  }
}

.float-buttons {
  padding: 0 0.3rem;
  color: white;
  background: #ff4081;
  text-align: center;
  button {
    padding: 5px 16px;
  }
  a {
    display: inline-block;
    padding: 0 16px;
  }
  .avatar {
    height: 2rem;
    border-radius: 50%;
  }
  @media (max-width: 825px) {
    width: 100vw;
    overflow-x: scroll;
    text-align: left;
    display: flex;
    button {
      flex: 1;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
