@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Muli:400,600|Merriweather:400,700");
@import "~quill/dist/quill.snow.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~projects/hermes/src/assets/scss/quill.scss";

:root {
  --primary-color: #ed1d24;
  --primary-color-tint: #ffdfe0;
  --hover-color: #f8f8f8;
  --secondary-color: #159cd8;
  --text-main-color: #000000;
  --text-secondary-color: #575757;
  --text-faded-color: #8a8a8a;
  --title-font: Muli;
  --title-font__bold: 600;
  --title-font__normal: 400;
  --default-font: sans-serif;
  --text-font: Merriweather;
  --text-font__bold: 700;
  --text-font__normal: 400;
  --container-width: 996px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: var(--title-font);
}
a {
  cursor: pointer;
  user-select: none;
}
mat-spinner {
  margin: auto;
  margin-bottom: 1rem;
}
.center {
  text-align: center;
}
.container {
  margin: auto;
  padding: 1rem 0;
  max-width: var(--container-width);
}
.error {
  color: red;
}
.padding-bot {
  padding-bottom: 1rem;
}
